<%- include("../partials/head.ejs") %>
    <%- include("../partials/header.ejs") %>
        <div class="layout">
            <%- include("../partials/sidebar.ejs") %>
            <main class="container-secc">
                <section class="secccion-productos">
                    <h2>
                        <%= about %>
                    </h2>
                    <div id="contenedor-productos">
                        <!-- Recibimos nuestro array de productos en la plantilla y lo iteramos en la misma plantilla 
                        Estamos directamente haciendo la accion del innerHTML -->
                        <% productsArray.forEach(producto=> { %>
                            <div class="card-producto" id="card-producto-<%= producto.id %>">
                                <img class="image-producto" src="<%= producto.image_url %>" alt="<%= producto.name %>">
                                <h4 class="name-producto"><%= producto.name %></h4>
                                <p class="id-producto">ID: <%= producto.id %></p>
                                <p class="price-producto">$<%= producto.price %></p>
                                <p class="stock-producto"><%= producto.stock %></p>
                                <p class="lineId-producto"><%= producto.line_id %></p>
                                <button 
                                    class="btn-card-producto btn-copy"
                                    data-id="<%= producto.id %>"
                                    title="Copiar ID">
                                    <i data-lucide="copy"></i>
                                </button>
                                <a 
                                    href="/dashboard/put/<%= producto.id %>"
                                    class="btn-card-producto btn-modify"
                                    title="Modificar producto">
                                    <i data-lucide="pencil"></i>
                                </a>
                                <button
                                    class="btn-card-producto btn-delete"
                                    data-name="<%= producto.name %>"
                                    data-id="<%= producto.id %>"
                                    title="Eliminar producto">
                                    <i data-lucide="trash-2"></i>
                                </button>
                            </div>
                        <% }) %>
                    </div>
                </section>
            </main>
        </div>

        <script src="/js/dashboard/index.js"></script>

        <%- include("../partials/footer.ejs") %>