<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>

<div class="layout">
    <%- include("../partials/sidebar.ejs") %>

    <main class="container-secc">
        <section class="form-productos">
            <h2>Modificar producto</h2>

            <form action="/dashboard/modificar" method="GET" class="form-search-id">
                <label for="id">ID del producto</label>
                <input type="number" name="id" id="id" required>
                <% if (error) { %>
                    <p class="error-message-form"><%= error %></p>
                <% } %>
                <button type="submit">Buscar producto</button>
            </form>
        </section>
    </main>
</div>

<%- include("../partials/footer.ejs") %>